#hide{
    display: none;
}
.main{
    margin: 8% 10% 3% 18%;
    width:70vw;
}
.nav{
    position: fixed;
    top:8%;
    left :0%;
    height:100vh;
    background-color:#8DACB6;
}
.navbar-close{
    width:fit-content;
}
.navbar-open{
    display: none;
}
.fa-xmark, .fa-bars{
    margin:15px 10px;
}
.navbar-open{
    width:14vw;
}

.side-nav-link{
    cursor: pointer;
    padding:15px 10px;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
} 
.side-nav-link:hover{
    background-color:#E4ECF1;
} 
.heading{
    font-size: 2rem;
    margin-left: 3%;
}
.sub-heading-1st{
    color:grey;
}
#strat{
    margin-top: 3em;
}
.main-select-products{
    display: flex;
    margin-top: 1%;
    justify-content: space-evenly;
}
.select-products{
    width:17em;
    margin: 0% 3%;
}
.products{
    margin-top: 7%;
    width:100%;
    border-radius: 0.5em;
    height:3.5em;
    border: 2px solid rgb(61, 61, 61);
    outline: none;
    box-shadow: none;
    appearance: none;
    padding:2%;
}
.products:hover, .products:focus{
    cursor: pointer;
}
.button{
    width:15%;
    height:2.9em;
    border: 2px solid #559aaa;
}
.next-button{
    margin-top: 1em;
    margin-bottom: 1em;
    width:10%;
    border-radius: 0.4em;
    height:2.3em;
    font-size: 18px;
    outline: none;
    box-shadow: 0em;
    color: #559aaa;
    border-color: #559aaa;
    font-weight: bolder;
    border-width: 0.1em;
    background-color: white;
    margin-left: 3%;
}
.next-button:hover{
    color: white;
    background-color: #559aaa ;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.strategy-table{
    border-collapse: collapse;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin:8% auto;
}
.strategy-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}
.strategy-table th,td {
    width: 5% ;
    padding: 1em 1.5em;
}
.strategy-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.strategy-table tbody tr:nth-of-type(even) {
    background-color: #f3f3ef;
}
.customDiv{
    display: none;
}