.mainn{
    margin: 8% 10% 3% 18%;
    width:70vw;
    
}
.text-head{
    width: 80%;
    height: fit-content;
    color: white;
    font-size: 2em;
    font-weight: bolder;
    
}
.text-details{
    background-color: pink;
    height: fit-content;
    text-decoration: line-through;
    font-style: sans-sarif;
}